@media screen and (max-device-width: 1300px) {
	header .text-header {
		padding: 0 20%;
	}

	.story .collage {
		display: block;
		margin: 0 11.25%;
	}

	.story .collage .group {
		justify-content: space-around;
		margin-bottom: 60px;
	}

	.story .collage .group:nth-child(2) .item:nth-child(1) {
		transform: rotate(-3deg);
	}
	.story .collage .group:nth-child(2) .item:nth-child(2) {
		transform: rotate(4deg);
	}
}

@media screen and (max-device-width: 1024px) {
	.story .about .sel, .story .about .jc {
		margin: 30px 20% 0 28%;
	}

	.featured .row {
		display: inline;
	}

	.featured .row .small-item, .featured .row .large-item {
		width: 100%;
		height: calc(50vh - 35px);
	}
}

@media screen and (max-device-width: 900px) {
	header {
		height: 50vh;
	}

	header .text-header {
		padding: 0 10%;
	}

	header .prev-slide, header .next-slide {
		top: 0;
		height: 100%;
		opacity: 0;
		width: 100px;
	}

	.message p {
		padding: 50px 10%;
	}

	.story .collage {
		margin: 0 6.25%;
	}

	.story .collage .group {
		margin-bottom: 0;
	}

	.story .about .sel, .story .about .jc {
		margin: 30px 13% 0 22%;
	}

	.featured .row .overlay {
		opacity: 1;
	}

	.featured .row .overlay .overlay-text {
		top: 46%;
	}
}

@media screen and (max-device-width: 600px) {
	header {
		height: 40vh;
	}

	header .text-header {
		padding: 0 5%;
		top: 39%;
	}

	.navbar {
		display: block;
	}

	.navbar .navbar-toggle {
		display: block;
	}

	.navbar .logo {
		display: inline-block;
		margin-top: 20px;
	}

	.navbar .main-nav {
		display: none;
		margin: 0;
	}

	.navbar .main-nav.active {
		display: block;
		margin-top: 20px;
		padding: 1px 0;
		background-color: rgba(0,0,0,0);
		transition: background-color 0.5s ease-in-out;
	}

	.navbar.change-bg {
		background-color: #576574;
		transition: background-color 0.5s ease-in-out;
		box-shadow: none;
	}

	.navbar.change-bg .main-nav.active {
		background-color: #576574;
		transition: background-color 0.5s ease-in-out;
	}

	.navbar.change-bg .main-nav.active li {
		border-top: 1px solid rgba(255, 255, 255, .75);
	}

	.navbar .main-nav li {
		text-align: center;
		padding: 10px;
	}

	.navbar .main-nav li a {
		margin: 0;
	}

	.story .collage {
		margin: 0;
	}

	.story .collage .group {
		display: block;
		text-align: -webkit-center;
	}

	.story .about .sel, .story .about .jc {
		margin: 30px 5% 0 18%;
	}

	.featured .row .overlay .overlay-text {
		top: 41%;
	}
}

@media screen and (max-device-width: 480px) {
	header .text-header {
		padding: 0 5%;
		top: 35%;
	}

	header .text-header h2 {
		font-size: 30px;
	}

	.story .about .sel, .story .about .jc {
		display: block;
		margin: 150px 5% 0;
		position: relative;
	}

	.story .about .image-container {
		transform: translateY(-120px);
		margin: 0 27%;
	}

	.story .about aside {
		position: absolute;
		top: -10px;
		width: 100%;
		margin: 25% 0;
		padding: 0 20px;
		overflow: scroll;
		height: 130px;
	}
}

@media screen and (max-device-width: 420px) {
	header .text-header span {
		display: none;
	}

	.story .about .image-container {
		margin: 0 24%;
	}

	.story .about aside {
		height: 140px;
	}
}

@media screen and (max-device-width: 375px) {
	.story .about .image-container {
		margin: 0 20%;
	}

	.story .about aside {
		top: 0;
		height: 150px;
	}
}