@media screen and (max-device-width: 1300px) {
	.story .collage {
		display: block;
		margin: 0 11.25%;
	}

	.story .collage .group {
		justify-content: space-around;
		margin-bottom: 60px;
	}

	.story .collage .group:nth-child(2) .item:nth-child(1) {
		transform: rotate(-3deg);
	}
	.story .collage .group:nth-child(2) .item:nth-child(2) {
		transform: rotate(4deg);
	}
}

@media screen and (max-device-width: 900px) {
	.story .collage {
		margin: 0 6.25%;
	}

	.story .collage .group {
		margin-bottom: 0;
	}
}

@media screen and (max-device-width: 600px) {
	.navbar {
		display: block;
	}

	.navbar .navbar-toggle {
		display: block;
	}

	.navbar .logo {
		display: inline-block;
		margin-top: 20px;
	}

	.navbar .main-nav {
		display: none;
		margin: 0;
	}

	.navbar .main-nav.active {
		display: block;
		margin-top: 20px;
		padding: 1px 0;
		background-color: rgba(0,0,0,0);
		transition: background-color 0.5s ease-in-out;
	}

	.navbar.change-bg {
		background-color: #576574;
		transition: background-color 0.5s ease-in-out;
		box-shadow: none;
	}

	.navbar.change-bg .main-nav.active {
		background-color: #576574;
		transition: background-color 0.5s ease-in-out;
	}

	.navbar.change-bg .main-nav.active li {
		border-top: 1px solid rgba(255, 255, 255, .75);
	}

	.navbar .main-nav li {
		text-align: center;
		padding: 10px;
	}

	.navbar .main-nav li a {
		margin: 0;
	}



	.story .collage {
		margin: 0;
	}

	.story .collage .group {
		display: block;
		text-align: -webkit-center;
	}
}